.image-div{
    display: flex;
    padding: 2rem;
}
.img-responsive{
    max-width: 50%;
    height: auto;
}
.img-round{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: auto;
}