:root{
    --st-primary-one: #0fbcf9;
    --st-primary-two: #1B9CFC;
    --st-primary-three: #3B3B98;
    --st-secondary-one: #182C61;
    --st-secondary-two: #ec0872;
    --st-secondary-three: #FAF9F6;
    --st-background-grey: #cbd5e1;
    --st-dark-grey: #94a3b8;
    --st-darkest-grey: #334155;
    --st-light-blue: #78d3fa;
    --st-light-pink: #fce7f3;
    --st-yellow: #eab308;
    --st-span-text: hsl(348, 100%, 52%);
    --st-success-bg: hsl(148, 54%, 60%);
    --st-mid-green: #33d46e;
    --st-green: hsl(147, 54%, 12%);
    --st-danger-bg: hsl(0, 97%, 69%);
    --st-red: hsla(0, 99%, 29%, 0.966);
    --st-warning-bg: hsl(22, 85%, 72%);
    --st-orange: hsl(22, 85%, 48%);
    --st-brown: hsl(30, 100%, 29%);
    --st-black: hsl(0, 0%, 0%);
    --st-white: hsl(0, 0%, 100%);
    --st-header-text: 'Noto Sans', sans-serif;
    --st-sub-header-text: 'Work Sans', sans-serif;
    --st-body-text: 'Raleway', sans-serif;
    --st-special-text: 'Satisfy', cursive;
}